*
{
    margin:0;
    padding:0;
}

body
{
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu
{
width: 100%;
height: 199px;
background-color:rgba(6, 255, 193, 0.5);
color: white;
}
.leftmenu
{
    width: 10%;
    float: left; 
    
}

.leftmenu h4
{
    padding-top: 90px;
    padding-left: 100px;
    font-weight: bold;
    font-family :'Montserrat'+sans-serif;
    float: left;
    font-size: 30px;
    color: rgb(1, 75, 104);
   
}


.rightmenu
{
   width: 70%;
   float: right;
   margin-left: 200px;
 

}

.rightmenu li
{
    margin-left: 130px;
}


.rightmenu ul li
{
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    color:white;
    font-weight: bold;
    line-height: 199px;
    text-transform: uppercase;
   
}
.rightmenu ul
{
    
    margin-left: 2px;

}
#firstlist
{
    color: rgb(1, 75, 104);
}


.rightmenu ul li:hover
{
    color: rgb(1, 75, 104);
}


.text
{
    width: 100%;
    margin-top: 185px; 
    text-transform: uppercase;
    text-align: center;
    color: darkorange;
    font-size: 25px;

}


.text h4
{
    font-size: 25px;
    font-family:'Open Sans',sans-serif;
}

button {
    background-color: rgb(230, 6, 6); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  